body {
  background-image: url('images/173_afterbreach.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
p {
  color: wheat

}
#description {
  margin-top: 10px;
  text-align: center;
}
#desc {
  text-align: center;
  font-size: 10;
}
#message {
  width: 500px;
}
#rules {
  margin-top: -10px;
  text-align: center;
}
.center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.dm-text-center {
  text-align: center;
}
.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.square_btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*Button Color*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}
.square_btn:active {/*on Click*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*Move down*/
    border-bottom: none;/*disappears*/
}